/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
----------------------------------------
Body and backstyles
----------------------------------------
*/
html {
	text-decoration: none;
}
body {
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/gothicaa.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: auto 100%;
}
a:link {
	text-decoration: none;
}
/*
-----------------------------------------
Box-sizing and correspondings
-----------------------------------------
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Clearfix (form)
  ========================================
*/
.form:before,
.form:after {
  content: "";
  display: table;
}
.form:after {
  clear: both;
}
.form {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Clearfix (theme)
  ========================================
*/
.theme:before,
.theme:after {
  content: "";
  display: table;
}
.theme:after {
  clear: both;
}
.theme {
  clear: both;
  *zoom: 1;
}
/*
-----------------------------------------
Primary Headings Styles
-----------------------------------------
*/
.prime {
 text-align: center;
}
h1 {
	font-size: 46px;
 width: 250px;
 padding: 0px;
 border: 0px;
	margin: 10px auto 10px auto;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-family: cursive;
}
h2 {
 font-size: 25px;
 width: 300px;
	margin: 0px auto 40px auto;
	color: rgb(255, 255, 255);
	font-family: cursive;
}
.color a, a:visited, a:active {
 color: inherit;
}
.theme {
	float: right;
}
/*
---------------------------------------------
Hyperlinks (Home Top)
---------------------------------------------
*/
.major {
 color: rgb(255, 255, 255);
	text-align: center;
	font-size: 22px;
}
.speciallinks a, a:visited, a:active, :any-link {
	color: inherit;
}
.speciallinks a, a:hover {
	color: rgb(131, 58, 10);
}
.speciallinks {
 padding: 6px 45px;
	border-radius: 5px;
 margin: 0px 10px; 
	font-style: italic;
	background: rgb(22, 71, 126);
}
/*
----------------------------------------------
Welcome paragraph and heading
----------------------------------------------
*/
.welcome p {
 margin-top: 80px;
 margin-left: 120px;
 margin-right: 120px;
 padding: 0px 30px;
	font-size: 22px;
	line-height: 150%;
	text-indent: 10px;
	font-family: "Josefin Sans";
	color: rgb(255, 255, 255);
	
}
.welcome h3 {
 margin-top: 60px;
 text-align: center;
 font-size: 27px;
	color: rgb(185, 144, 29);
	text-shadow: 0px 6px 4px rgba(0, 0, 0, 1);
}
/*
-----------------------------------------------
Aside
-----------------------------------------------
*/
.follow {
	text-align: center;
	color: rgb(255, 255, 255);
	margin-top: 400px;
	font-size: 25px;
	font-family: cursive;
}
/*
------------------------------------------------
Teasers
------------------------------------------------
*/
.group {
	margin-top: 100px;
	font-size: 21px;
	font-family: "Josefin Sans";
	color: white;
}
.commons {
	float: left;
	padding: 30px 10px 30px 75px;
	margin-left: 20px;
	width: 40%;
}
.parts {
	float: right;
	padding: 30px 75px 30px 10px;
	margin-right: 20px;
	width: 40%;
}
.group h3 {
	font-weight: bold;
	margin: 12px 0px;
	text-decoration: underline;
	
	letter-spacing: .2em;
}
/*
-----------------------------------------------
Register form
-----------------------------------------------
*/
.form img {
	border: double 4px rgba(0, 0, 0, 1);
	border-radius: 5px;
	padding: 5px;
	margin: 50px;
	margin-right: 5%;
	margin-left: 5%;
	display: block; 
	float: right;
	width: 40%;
	height: 40%;
	background: royalblue;
}
.apply {
	float: left;
	width: 40%;
	margin-left: 7.5%;
	margin-right: 2.5%;
}
.form h3 {
	margin-top: 50px;
 text-align: center;
 font-size: 27px;
	color: rgb(185, 144, 29);
	text-shadow: 0px 6px 4px rgba(0, 0, 0, 1);
}
.apply form {
	color: rgb(255, 255, 255);
	margin-top: 50px;
	padding: 0px 50px 0px 50px;
	line-height: 30px;
	font-size: 24px;
	font-family: "Josefin Sans";
}
.apply form label {
	display: block;
}
.apply form input {
	float: right;
	cursor: text;
}
.sx {
	display: inline-block;
}
.sx div input {
	float: none;
}
.apply .exp {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}
.apply .exp select {
	float: right;
}
.apply form button {
	font-size: 24px;
	border: solid 2px rgba(0, 0, 0, 1);
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	display: block;
	width: 40%;
	margin: 0% 30% 0% 30%;
	margin-top: 20px;
	font-family: "Josefin Sans";
	background: rgb(22, 71, 126);
	color: rgb(185, 144, 29);
}
.apply form button:hover {
	color: rgb(131, 58, 10);
}

.apply legend {
	text-align: center;
	color: rgb(185, 144, 29);
	text-shadow: 0px 6px 4px rgba(0, 0, 0, 1);
	font-size: 24px;
	margin-bottom: 20px;
}
/*
-----------------------------------------------
Bottom 
-----------------------------------------------
*/
.bottom {
 font-size: 15px;
 margin-top: 100px;
	text-align: center;
	color: rgb(255, 255, 255);
}

